#ignore 
__pycache__/
.html notebooks/
.vscode/
brats20-dataset-training-validation/
BraTS2020_training_data/
Model_checkpoints/
old-stuff/
WIP/
.DS_Store


# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# PyTorch checkpoints
*.pth
